KAMAL_REGISTRY_PASSWORD=$KAMAL_REGISTRY_PASSWORD
RAILS_MASTER_KEY=$(cat config/master.key)
DB_PASSWORD=$DB_PASSWORD

# Optional shared secrets
# DISCORD_CLIENT_ID=$DISCORD_CLIENT_ID
# DISCORD_CLIENT_SECRET=$DISCORD_CLIENT_SECRET
# DISCORD_BOT_TOKEN=$DISCORD_BOT_TOKEN
# DISCORD_BOT_PUBLIC_KEY=$DISCORD_BOT_PUBLIC_KEY
# DISCORD_BOT_APPLICATION_ID=$DISCORD_BOT_APPLICATION_ID
# DISCORD_BOT_SHARED_SECRET=$DISCORD_BOT_SHARED_SECRET
