KAMAL_REGISTRY_PASSWORD=$KAMAL_REGISTRY_PASSWORD
RAILS_MASTER_KEY=$(cat config/master.key)
DB_PASSWORD=$DB_PASSWORD
DISCORD_CLIENT_ID=$DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=$DISCORD_CLIENT_SECRET

# Optional shared secrets
DISCORD_BOT_API_TOKEN=$DISCORD_BOT_API_TOKEN
MINECRAFT_RCON_PASSWORD_SECRET=$MINECRAFT_RCON_PASSWORD_SECRET
